/* =====================================
   TABLETS
===================================== */

@media (max-width:992px){

nav{

    height:80px;

    padding:0 30px;

}

.logo img{

    width:200px;

}

.menu-toggle{

    display:block;

}

.nav-center{

    display:none;

    position:absolute;

    top:80px;

    left:0;

    width:100%;

    background:rgba(25,35,30,.98);

}

.nav-center.active{

    display:block;

}

.nav-center ul{

    flex-direction:column;

    align-items:center;

    gap:28px;

    padding:35px 0;

}

.nav-right{

    display:none;

}

header h1{

    font-size:54px;

}

header p{

    font-size:18px;

}

.story-container,
.room-container{

    grid-template-columns:1fr;

}

.philosophy-grid,
.team-gallery,
.why-grid{

    grid-template-columns:repeat(2,1fr);

}

.room-gallery{

    grid-template-columns:repeat(2,1fr);

}

.layout-grid{

    grid-template-columns:1fr;

}

}



/* =====================================
   MOBILE
===================================== */

@media (max-width:768px){

nav{

    height:75px;

    padding:0 20px;

}

.logo img{

    width:170px;

}

.nav-center{

    top:75px;

}

header{

    padding:0 20px;

}

header h1{

    font-size:40px;

    line-height:1.2;

}

header p{

    font-size:17px;

}

.hero-btn{

    margin-top:30px;

}

.welcome,
.our-story,
.philosophy,
.team,
.vision,
.room-section,
.rooms-intro,
.layout-section,
.why-section{

    padding:70px 25px;

}

.room-gallery,
.team-gallery,
.philosophy-grid,
.why-grid{

    grid-template-columns:1fr;

}

.room-gallery img{

    height:260px;

}

.room-specs{

    grid-template-columns:1fr;

}

.book-btn,
.story-btn,
.hero-btn{

    width:100%;

    max-width:280px;

    text-align:center;

}

}
.room-hero img{

    height:45vh;

    border-radius:0;

}


/* =====================================
   SMALL PHONES
===================================== */

@media (max-width:480px){

nav{

    height:70px;

}

.logo img{

    width:150px;

}

.nav-center{

    top:70px;

}

header h1{

    font-size:32px;

}

header p{

    font-size:16px;

}

.welcome h3,
.story-text h2,
.room-text h2,
.about-overlay h1{

    font-size:38px;

}

.room-gallery img{

    height:220px;

}

}
