/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Manrope',sans-serif;
    background:#f8f5ef;
    color:#2f332b;
}

/* ==========================
   NAVBAR
========================== */

/* ==========================
   NAVBAR
========================== */

nav{

    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:85px;

    display:flex;
    align-items:center;

    padding:0 6%;

    background:rgba(25,35,30,.40);

    backdrop-filter:blur(6px);
    -webkit-backdrop-filter:blur(6px);

    z-index:1000;

}

.nav-left{

    flex:1.5;

}

.nav-center{

    flex:2;

}

.nav-right{

    flex:1;

    display:flex;
    justify-content:flex-end;


}
.logo{

    display:flex;
    align-items:center;

    width:320px;   /* Reserva más espacio para el logo */

}

.logo img{

    height:60px;
    width:100%;
    object-fit:contain;
    display:block;

}
}

nav ul{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:28px;

    list-style:none;

}

nav a{

    color:white;

    text-decoration:none;

    font-size:15px;

    font-weight:500;

    letter-spacing:.5px;

}

.book-btn{

    border:1px solid #C6A66A;

    color:#C6A66A;

    border-radius:40px;

    padding:10px 24px;

    transition:.3s;

}

.book-btn:hover{

    background:#C6A66A;

    color:white;

}

/* ==========================
   HERO
========================== */

header{

    height:100vh;

   background-image:
linear-gradient(
rgba(0,0,0,.35),
rgba(0,0,0,.35)
),
url("../images/backgroundimage.jpg");

    background-size:cover;

    background-position:center;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;

    padding:0 20px;

}

header h1{

    font-family:'Cormorant Garamond',serif;

    font-size:72px;

    font-weight:500;

    max-width:900px;

}

header p{

    margin-top:25px;

    font-size:20px;

    max-width:650px;

    line-height:1.7;

}
.ldrs-header{
    display: none;
}
